<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Django CRUD application!</title>
  </head>
  <body>
    <div class="container">
        <h1>Blog Post List!</h1>
        <ul>
            <li>
          <p>Message: {{ post.message }}</p>
          </li>
                    <a href="{% url "tweets:post_new" %}">New Blog post entry</a>

        </ul>

    </div>
  </body>
</html>